<ion-tabs class="ion-no-border">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <i-feather name="list"></i-feather>
    </ion-tab-button>

    <ion-tab-button (click)='presentModal()'>
      <!--<i-feather name="user"></i-feather>-->
      <ion-fab>
        <ion-fab-button>
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <i-feather name="user"></i-feather>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
