<ion-content>

  <img src="/assets/logo/logo-white.svg" class='logo'>
  <h3 style='text-align: center; font-size: 18px; color: #fff; margin-top: 20vh'>Welcome to Automic</h3>
  <h3 style='text-align: center; font-size: 30px; color: #fff;'>Master any habit.</h3>


</ion-content>
<ion-footer style='background-color: #000;' class="ion-no-border">
  <button class='cta' (click)='signUp()'>Create an account</button>
  <button class='cta' style='background-color: #000; color: #fff; margin-top: 20px; margin-bottom: 50px;' (click)='logIn()'>Login</button>
</ion-footer>
